h1,
h2,
h3,
p {
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

.clearfix {
    clear: both;
}

p {
    font-size: 1.2em;
}

h1,
h2,
h3 {
    font-size: 3em;
}

#blue-container {
    background: #000 url(../images/bg.png) repeat-x;
    padding: 120px 0;
}

#gray-container {
    background: #fff url(../images/bg2.png);
    padding: 120px 0;
    margin-top: 310px;
}

.alc {
    text-align: center;
}

h1 {
    color: #fff;
}

.notepads {
    position: relative;
    margin-top: 40px;
    height: 252px;
}

.notepads img {
    position: absolute;
    transition: all 0.5s;
    opacity: 0;
}

.notepads #bigpad {
    left: 0;
    top: 0;
}

.notepads #smallpad {
    right: 50px;
    bottom: -5px;
}

.notepads.animate #bigpad {
    left: 70px;
    opacity: 1;
}

.notepads.animate #smallpad {
    right: 150px;
    opacity: 1;
}